body {
background-image: url('../images/texture1.jpg');
margin-top: 0px;
}

a {
color: #000;
}

em {
font-weight:bold;	
}

/* Forms. */
.inputdiv {
	float: left;
	padding-right: 40px;
	padding-bottom: 20px;
	margin: 0px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 1.0em;
	font-weight: bold;
}

.selectbox {
	border-radius: 7px 7px 7px 7px;
	padding: 5px;
	font-weight: normal;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 1.0em;
	font-weight: normal;
}


table, th, td {
    border: 1px solid black;
	margin-top: 10px;
}

th, td {
    padding: 8px;
	text-transform: capitalize;
}

#tablehead {
	font-weight: bold;
}
	
#body {
width: 960px;
background-image: url('../images/atlasbackground.png');
background-repeat: repeat;
margin-left:auto;
margin-right:auto;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
overflow: hidden;
}

#header {
text-align: center;
margin: 0 0 20px 0;	
}

#topbannerlogo {
border-bottom: 3px solid black;
}

#sidebar {
width: 205px;
float: left;
padding: 14px;
}

#sidebar ul {
list-style-type: none;
margin-left: -26px;
}

#sidebar ul li {
text-decoration: none;
color: #000;
font-size: 18px;
font-weight: bold;
padding-bottom: 16px;
}

#sidebar ul li a {
text-decoration: none;
}	

#center {
float: left;
width: 680px;
padding-right: 25px;
padding-left: 12px;
font-size: 1.06em;
}

#explanation {
padding-top: 3px;
}

#legend {
margin-left: 15px;	
}

#legendtitle {
padding-top: 5px;	
margin-left: 25px;
}

